################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WoaW.CodeSnippets.DesignPatterns.UnitTests/bin/Debug
/WoaW.CodeSnippets.DesignPatterns.UnitTests/obj/Debug
/WoaW.CodeSnippets.DesignPatterns.UnitTests/obj/Debug
/WoaW.Patterns.Specification/packages
/WoaW.Patterns.Specification/bin/Debug/netstandard1.4
/WoaW.CodeSnippets.DesignPatterns.UnitTests/obj/Debug
